body{margin: 0;
}
.orange-color{
    color : salmon
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width:80%
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 40px;
}
.middle-banner{
        background-image: url(images/shapes/7.png);
        background-repeat: no-repeat;
    }
    .last-banner{
        width: 100%;
align-items: center;
    }
    .recipies{
    width: 100%;
    padding: 10;

    }
    .finished{
        text-align: center;
    }
